# SHARIF ALI (P200130)
# ABUBAKER ATTIQUE (P200560)

In [18]:
import pandas as pd
import numpy as np

titanic_df = pd.read_csv("titanic.csv")

# 1. How many rows and columns are there in the Titanic dataset?

In [38]:
rows, columns = titanic_df.shape
print(f"Number of rows: {rows}, Number of columns: {columns}")

Number of rows: 891, Number of columns: 12

# 2.What is the average age of passengers on the Titanic?

In [20]:
average_age = titanic_df['Age'].mean()
print(f"Average age of passengers: {average_age:.2f}")

Average age of passengers: 29.70

# 3.How many passengers survived, and how many did not survive?

In [21]:
survived_count = titanic_df['Survived'].sum()
not_survived_count = rows - survived_count
print(f"Survived: {survived_count}, Not Survived: {not_survived_count}")

Survived: 342, Not Survived: 549

# 4.What is the percentage of male and female passengers on the Titanic?

In [25]:
gender_percentage = titanic_df['Sex'].value_counts(normalize=True) * 100
print(f"Percentage of male passengers: {gender_percentage['male']:.2f}%")
print(f"Percentage of female passengers: {gender_percentage['female']:.2f}%")

Percentage of male passengers: 64.76%
Percentage of female passengers: 35.24%

# 5.What is the average age of passengers in each passenger class (Pclass)?

In [26]:
average_age_by_class = titanic_df.groupby('Pclass')['Age'].mean()
print("Average age of passengers in each passenger class:")
print(average_age_by_class)

Average age of passengers in each passenger class:
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

# 6.What is the average fare paid by passengers in each passenger class (Pclass)?

In [27]:
average_fare_by_class = titanic_df.groupby('Pclass')['Fare'].mean()
print("Average fare paid by passengers in each passenger class:")
print(average_fare_by_class)

Average fare paid by passengers in each passenger class:
Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

# 7.How many passengers survived from each embarkation port (C, Q, S)?

In [28]:
survived_by_embarkation = titanic_df[titanic_df['Survived'] == 1]['Embarked'].value_counts()
print("Number of passengers survived from each embarkation port:")
print(survived_by_embarkation)

Number of passengers survived from each embarkation port:
Embarked
S    217
C     93
Q     30
Name: count, dtype: int64

# 8.Who is the oldest and youngest passenger on the Titanic?

In [39]:
oldest_passenger = titanic_df.loc[titanic_df['Age'].idxmax()]
youngest_passenger = titanic_df.loc[titanic_df['Age'].idxmin()]
print("Oldest passenger:", oldest_passenger['Name'], "Age:", oldest_passenger['Age'])
print("Youngest passenger:", youngest_passenger['Name'], "Age:", youngest_passenger['Age'])

Oldest passenger: Barkworth, Mr. Algernon Henry Wilson Age: 80.0
Youngest passenger: Thomas, Master. Assad Alexander Age: 0.42

# 9.How many passengers had siblings or spouses aboard (SibSp > 0) and how many had parents or children aboard (Parch > 0)?

In [30]:
with_sibsp = (titanic_df['SibSp'] > 0).sum()
with_parch = (titanic_df['Parch'] > 0).sum()
print(f"Passengers with SibSp > 0: {with_sibsp}, Passengers with Parch > 0: {with_parch}")

Passengers with SibSp > 0: 283, Passengers with Parch > 0: 213

# 10.What is the survival rate for passengers of different ages (e.g., children, adults, and the elderly)?

In [31]:
age_groups = pd.cut(titanic_df['Age'], bins=[0, 18, 65, 100], labels=['Children', 'Adults', 'Elderly'])
survival_rate_by_age_group = titanic_df.groupby(age_groups)['Survived'].mean()

print("Survival rate for passengers of different ages:")
print(survival_rate_by_age_group)

Survival rate for passengers of different ages:
Age
Children    0.503597
Adults      0.386243
Elderly     0.125000
Name: Survived, dtype: float64

# 11.	What is the survival rate for passengers who were traveling alone (no SibSp or Parch) compared to those with family members on board?

In [32]:
alone_passengers = titanic_df[(titanic_df['SibSp'] == 0) & (titanic_df['Parch'] == 0)]
with_family_passengers = titanic_df[(titanic_df['SibSp'] > 0) | (titanic_df['Parch'] > 0)]

survival_rate_alone = alone_passengers['Survived'].mean()
survival_rate_with_family = with_family_passengers['Survived'].mean()

print(f"Survival rate for passengers traveling alone: {survival_rate_alone:.2f}")
print(f"Survival rate for passengers with family: {survival_rate_with_family:.2f}")

Survival rate for passengers traveling alone: 0.30
Survival rate for passengers with family: 0.51

# 12.What were the survival rates for passengers from different embarkation ports (C, Q, S) in each passenger class?

In [33]:
survival_rate_by_port_class = titanic_df.groupby(['Embarked', 'Pclass'])['Survived'].mean()
print("Survival rates for passengers from different embarkation ports in each passenger class:")
print(survival_rate_by_port_class)

Survival rates for passengers from different embarkation ports in each passenger class:
Embarked  Pclass
C         1         0.694118
          2         0.529412
          3         0.378788
Q         1         0.500000
          2         0.666667
          3         0.375000
S         1         0.582677
          2         0.463415
          3         0.189802
Name: Survived, dtype: float64

# 13.What is the correlation between passenger age and ticket fare? Does a higher age generally correspond to a higher fare?

In [34]:
correlation_age_fare = titanic_df['Age'].corr(titanic_df['Fare'])
print(f"Correlation between passenger age and ticket fare: {correlation_age_fare:.2f}")

Correlation between passenger age and ticket fare: 0.10

# 14.What is the most common port of embarkation (Embarked) for passengers on the Titanic?

In [35]:
most_common_port = titanic_df['Embarked'].mode()[0]
print(f"Most common port of embarkation: {most_common_port}")

Most common port of embarkation: S

# 15.How many passengers had more than one sibling or spouse aboard (SibSp > 1)?

In [36]:
more_than_one_sibsp = (titanic_df['SibSp'] > 1).sum()
print(f"Passengers with more than one sibling or spouse aboard (SibSp > 1): {more_than_one_sibsp}")

Passengers with more than one sibling or spouse aboard (SibSp > 1): 74

# 16.How many passengers in each passenger class (Pclass) were traveling with at least one family member (SibSp > 0 or Parch > 0)?

In [37]:
with_family_by_class = titanic_df[(titanic_df['SibSp'] > 0) | (titanic_df['Parch'] > 0)]['Pclass'].value_counts()
print("Number of passengers in each passenger class traveling with at least one family member:")
print(with_family_by_class)

Number of passengers in each passenger class traveling with at least one family member:
Pclass
3    167
1    107
2     80
Name: count, dtype: int64